NEXT_PUBLIC_CHAIN=testnet
NEXT_PUBLIC_FACTORY_ADDRESS=0x4f6aD063f1c20D53a4ea4FA1ba46A8783C782D16
# Mainnet factory: 0xEF673BDac2C86506874919b1ad05Bd7D7fa64344 (pair with NEXT_PUBLIC_CHAIN=mainnet)
NEXT_PUBLIC_AUSD_ADDRESS=
NEXT_PUBLIC_DYNAMIC_ENV_ID=
TYPESAFE_API_KEY=
